@font-face {
    font-family: artivistLogo;
    src: url(assets/TAN-NIMBUS/TAN-NIMBUS.woff);
}

html, body {
    width: 100% !important;
    padding: 0 !important;
}

.container-fluid {
    padding: 0 !important;
}

.row {
    padding: 0 !important;
}

.logo {
    background-color: #EDEDE4;
    color: rgba(101, 123, 111, 1);
}

.logo h1 {
    height: 5rem;
    font-size: 4rem;
    font-family: artivistLogo;
    padding-top: 0;
}

button {
    color: rgba(237, 237, 228, 1);
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    background-color: #F27C69;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 2.5rem;
    margin: 1rem;
}

.lp {
    height: 80%;
    background-color: rgba(101, 123, 111, 0.71);
}

.lp h1 {
    font-family: 'Lexend Deca', sans-serif;
    color: rgba(241, 241, 235, 1);
}

.lp h2 {
    font-family: 'Dosis', sans-serif;
    color: rgba(241, 241, 235, 1);
    text-align: left;
    font-size: 1.5rem;
}

.lp button {
}

.lp img {
    border-radius: 20px;
}

.second-section {
    background-color: rgba(241, 241, 235, 1);
}

.second-section h2 {
    color: rgba(101, 123, 111, 1);
}

.second-section p {
    color: rgba(101, 123, 111, 1);
    font-family: 'Dosis', sans-serif;
}

.second-section img {
    border-radius: 20px;
}

.who {
    background: rgba(237, 237, 228, 1);
}

.who h1 {
    color: rgba(101, 123, 111, 1);
    font-family: 'Lexend Deca', sans-serif;
}

.who h5 {
    color: #F27C69;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
}

.who p {
    color: rgba(101, 123, 111, 1);
}

.stakeholders {
    background-color: rgba(101, 123, 111, 0.4);
}

.stakeholders h3 {
    color: #F27C69;
}

.stakeholders p {
    color: rgb(71, 81, 76);
    font-family: 'Dosis', sans-serif;
}

.why {
    background: rgba(237, 237, 228, 0.5);
}

.why h1 {
    color: rgba(101, 123, 111, 0.8);
    font-family: 'Lexend Deca', sans-serif;
}

.why h2 {
    color: #F27C69;
    font-family: 'Lexend Deca', sans-serif;
}

.why ul {
    color: rgba(101, 123, 111, 0.85);
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
}

.join {
    background: rgba(237, 237, 228, 1);
}


.join h3 {
    color: rgba(101, 123, 111, 0.8);
}

.join p {
    color: rgba(101, 123, 111, 0.8);
}

.fast {
    background-color: #F27C69;
}

.fast h3 {
    color: rgba(236, 238, 146, 1);

}

.fast p {
    color: rgba(80, 80, 78, 1);
}

.powered {
    background: rgba(237, 237, 228, 1);

}

.powered h5 {
    color: #F27C69;
    font-family: 'Lexend Deca', sans-serif;
}

.powered p {
    color: rgba(101, 123, 111, 1);  
}

.footer {
    background: rgba(101, 123, 111, 0.71);
}

.footer h1 {
    padding-top: 2rem;
    font-size: 2.5rem;
    font-family: artivistLogo;
    color: rgba(241, 241, 235, 1);
}

.footer h6 {
    color: rgba(236, 238, 146, 1);
}

.footer ul {
    color: white;
}