body {
    margin: 0;
    padding: 0;
    font-size: 62.5;
    box-sizing: border-box;
    background-color: #edede4;
}

@font-face {
    font-family: artivistLogo;
    src: url(assets/TAN-NIMBUS/TAN-NIMBUS.woff);
}

.logo {
    background-color: #EDEDE4;
    width: 100vw;
    height: 5.5em;
    color: rgb(52, 69, 52);
    border: 2px solid red;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.logo h1 {
    width: 40vw;
    /*padding: 0;
    padding-left: 10vw;*/
    padding-top: 2vh;
    height: 5rem;
    font-size: 4rem;
    font-family: artivistLogo;
    margin: 0;
    /*position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);*/
    border: 1px solid blue;
}

.logo nav {
    border: 1px solid black;
    width: 40vw;  
    position: relative;
    display: flex;
    justify-content: space-around;
}

.logo button {
    color: rgb(52, 69, 52);
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    background-color: #F27C69;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 2.5rem;
    margin: 1rem;
    /*position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);*/

}

.logo p {
    width: 60vw;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    padding-left: 20%;
    font-size: 1.5rem;
    color: #F27C69;
 
}

.landing-page {
    margin: 0 auto;
    width: 65vw;
    display: flex;
    align-items: flex-start;
    background-color: black;
}


.landing-page h2 {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    padding-top: 20%;
    padding-bottom: 20%;
     
}

.landing-page .contribute {
    border: 1px solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: #F27C69;
    position: absolute;
    top: 50%;
    left: 45%;
    z-index: 1;
    vertical-align: center;
}

.landing-page .contribute a {
    text-decoration: none;
    color: black;
}


.lp-artist {
    width: 38vw;
    height: 80vh;
}

.lp-artist img {
    width: 90%;
}

.lp-cause {
    border: 1px solid black;
    width: 38vw;
    height: 80vh;
    background-color: black;
}

.lp-cause img {
    padding-top: 25%;
    width: 100%;

}

.links {
    width: 90vw;
    height: 100vh;
    padding-left: 3%;
    padding-top: 10%;
    color: orange;
}

.links h2 {
    color: orange;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px auto;
    width: 50%;
    text-align: center;
}

.links p {
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 50%;
    margin: 20px auto;
}

.links a {
    text-decoration: none;
    color: orange;
}