body {
    margin: 0;
    padding: 0;
    width: 100vw;
    font-size: 62.5;
    box-sizing: border-box;
}

@font-face {
    font-family: artivistLogo;
    src: url(assets/TAN-NIMBUS/TAN-NIMBUS.woff);
}

.intro {
    height: 100vh;
    width: 100vw;
    background-color: #F1F1EB;
}

.logo {
    background-color: #EDEDE4;
    width: 100%;
    height: 20%;
    color: rgba(101, 123, 111, 1);
}

.logo h1 {
    height: 5rem;
    font-size: 4rem;
    font-family: artivistLogo;
    padding-top: 0;
}

.logo nav {
    height: 100%;
    padding-top: 0;
}

button {
    color: rgba(237, 237, 228, 1);
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    background-color: #F27C69;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 2.5rem;
    margin: 1rem;
}

.lp {
    margin: 0 auto;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: flex-start;
    background-color: rgba(101, 123, 111, 0.71);
    border: 1px solid black;
}

.lp h1 {
    font-family: 'Lexend Deca', sans-serif;
    color: rgba(241, 241, 235, 1);
}

.lp h2 {
    font-family: 'Dosis', sans-serif;
    color: rgba(241, 241, 235, 1);
    text-align: left;
    font-size: 1.5rem;
}

.lp button {
    border: 1px solid blue;

}

.lp img {
    border-radius: 20px;
}


.second-section {
    height: 90vh;
    width: 90vw;
    background-color: rgba(241, 241, 235, 1);
}

.second-section h2 {
    color: rgba(101, 123, 111, 1);
}

.second-section p {
    color: rgba(101, 123, 111, 1);
    font-family: 'Dosis', sans-serif;
}

.second-section .row {
}

.second-section img {
    border-radius: 20px;
}

















.who {
    height: 90vh;
    width: 100vw;
    background: rgba(237, 237, 228, 1);
    border: 1px yellow solid;
}

.who h1 {
    color: rgba(101, 123, 111, 1);
    border: 1px blue solid;
    font-family: 'Lexend Deca', sans-serif;
}

.who h5 {
    color: #F27C69;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
    border: 1px solid green;
}

.who p {
    color: rgba(101, 123, 111, 1);
    border: 1px solid purple;
}

.who img {
    border: 1px solid orange;
}











.stakeholders {
    height: 70vh;
    width: 100vw;
    background-color: rgba(101, 123, 111, 0.4);
    border: 1px solid yellow;
}

.stakeholders h3 {
    color: #F27C69;
}

.stakeholders p {
    color: rgb(71, 81, 76);
    font-family: 'Dosis', sans-serif;
}













.why {
    height: 100vh;
    /* width: 100vw; */ 
    background: rgba(237, 237, 228, 0.5);
}

.why h1 {
    color: rgba(101, 123, 111, 0.8);
    font-family: 'Lexend Deca', sans-serif;
}

.why h2 {
    color: #F27C69;
    font-family: 'Lexend Deca', sans-serif;
}

.why ul {
    color: rgba(101, 123, 111, 0.85);
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
}












.join {
    height: 60vh;
    background: rgba(237, 237, 228, 1);
}

.join img {
    max-width: 300px;
}

.join h3 {
    color: rgba(101, 123, 111, 0.8);
}

.join p {
    color: rgba(101, 123, 111, 0.8);
}














.fast {
    height: 40vh;
    background-color: #F27C69;
}

.fast h3 {
    color: rgba(236, 238, 146, 1);

}

.fast p {
    color: rgba(80, 80, 78, 1);

}









.powered {
    height: 50vh;
    width: 100vw;
    background: rgba(237, 237, 228, 1);

}

.powered h6 {
    color: rgba(101, 123, 111, 1);

}

.powered p {
    color: rgba(101, 123, 111, 1);
    
}
















.footer {
    height: 60vh;
    width: 100vw;
    background: rgba(101, 123, 111, 0.71);
}

.footer h1 {
    padding-top: 2rem;
    font-size: 2.5rem;
    font-family: artivistLogo;
    color: rgba(241, 241, 235, 1);
    border: 1px solid blue;
}

.footer h6 {
    color: rgba(236, 238, 146, 1);

}

.footer ul {
    color: white;
}